/*SPECIFICHE GENERICHE PER TUTTE LE PAGINE*/
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;/*allinea orizzontalmente al centro*/
    align-items: flex start;/*allinea verticalmente all'inizio*/
    min-height: 100vh;/*altezza minima*/
 
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;  /* centra orizzontalmente */
    align-items: center;      /* centra verticalmente */
}


.home{/*TITOLO PRINCIPALE*/
    color: #0033A0;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
}

footer {/*FOOTER*/
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #0033A0;
    border-top: 1px solid #e9ecef;
    bottom: 0;
    width: 100%;
} 

.titoloCredenziali {/*SOTTOTITOLO NELLA MASCHERA DI LOGIN*/
    color: #0033A0;
    text-align:center;
    margin:10px,0,20px,0;
    font-size: 17px;
    font-weight: bold;
}


.fieldsetIndex{/*FIELSET CHE INCLUDE TITOLO, INPUT E BOTTONE*/

    background: #D6DEE7;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    height: 200px;
    margin:5px;
    border:none;
    max-width: 400px;
    display: flex;
    flex-direction: column;  /* verticale */
    gap: 20px;               /* spazio tra elementi */
}


.form-groupIndex{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap:10px;
}
input{
    font-size:14px;
    text-align:left;
    width: 200px;
    height:42px;
    border:none;
    border-radius:5px;
}
label{
  font-size:14px;  
}

/*SPECIFICHE PER LA SEZIONE COMANDI E COMANDI STESSI*/

.comandi {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin:30px,10px,15px,0;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}



