.titoloCredenziali {
    color: #0033A0;
    align-content:center;
    font-size: 10px;
}

.form-groupIndex{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    border: 2 px solid black;
}

.fieldsetIndex{
    align-content: center;
    background: #D6DEE7;
    border-radius: 15px;
    padding: 0px;
    width: 400px;
    height: 200px;
    margin:0px;
    border:0px;
}
#formIndex{
    width: 400px;
    height: 200px;
    align-content: center;
    max-width: 400px;
}
.credenziali{
    display: flex;
    flex-direction: column;
}

/*SPECIFICHE PER LA SEZIONE COMANDI E COMANDI STESSI*/

.comandi {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}



