/*SPECIFICHE GENERICHE PER TUTTE LE PAGINE*/
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;/*allinea orizzontalmente al centro*/
    align-items: flex start;/*allinea verticalmente all'inizio*/
    min-height: 100vh;
 
}

body {
    background-color: #F5F5F5;
}

/*TITOLO PRINCIPALE*/
.home{
    color: #0033A0;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #0033A0;
    border-top: 1px solid #e9ecef;
    bottom: 0;
    width: 100%;
} 

.titoloCredenziali {
    color: #0033A0;
    text-align:center;
    margin:10px,0,20px,0;
    font-size: 17px;
    font-weight: bold;
}


    
.form-groupIndex{
    display: flex;
    flex-direction: column;
    align-content: center;
}
input{
    font-size:10px;
    text-align:left;
    max-width: 400px;
    border:none;
    border-radius:5px;
}


.fieldsetIndex{

    background: #D6DEE7;
    border-radius: 15px;
    padding: 10px;
    width: 400px;
    height: 200px;
    margin:5px;
    border:none;
    max-width: 400px;
}

.credenziali{
    display: flex;
    flex-direction: column;
    /*align-items:center;*/
    gap:10 px;
    margin:15px,0,20px,0;
}

/*SPECIFICHE PER LA SEZIONE COMANDI E COMANDI STESSI*/

.comandi {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin:30px,10px,15px,0;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}



