

/*SPECIFICHE GENERICHE PER TUTTE LE PAGINE*/
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
    margin: 0 auto; /* centra orizzontalmente */
    box-sizing: border-box;
}

body {
    /*background-color: #F5F5F5;*/
    /*background-color: #FAFAFA;*/
    background-color: #E8E8E8;
    width: 100%;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #0033A0;
    border-top: 1px solid #e9ecef;
    bottom: 0;
    width: 100%;
}

/*SPECIFICHE PER IL TITOLO PRINCIPALE DELLE PAGINE*/

.nuovaPratica {
    color: #0033A0;
    font-size: clamp(16px, 4vw, 30px);/*INDICA 16PX MINIMO, 4% DEL VIEWPORT, 30PX MASSIMO*/
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

/*SPECIFICHE PER FORM E FIELDSET CON RELATIVO LEGEND (DIV)*/
form {
    max-width: 1200px;
    gap: 1rem;
    margin: 0 auto;
    /*align-content: center;*/
    width: 100%;
}

.legend {
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: flex;
    color: #0033A0;
    margin: 4px 0 6px 10px;
}

/*SPECIFICHE PER I FIELDSET*/

fieldset {
    padding: 15px;
    border: 0px solid #0033A0;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    background: #D6DEE7;
    background: #4A4A4A;
}

.fieldsetStandard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 0 2rem; /*il primo spazio è per il row-gap (distanza tra le righe), il secondo per il column-gap( distanza tra gli elementi della riga)*/
}

.fieldsetDatiImmobile{
    display:flex; /*flex serve perchè il contenut è su una riga sola (alrimenti si poteva usare inline-flex)*/
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:normal;
    gap: 0 3.8rem; /*rem è il font della radice, si usa al posto di px perchè è piu adattivo*/
    height: auto;
}

.minorenne1,
.minorenne2,
.minorenne3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 0 2rem;
}


/*SPECIFICHE PER LE FORM GROUP (INPUT ,SELECT E LABEL). INCLUDE I TRE STANDARD DI LUNGHEZZE IMPOSTATE*/

.form-group {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
}

input, select {
  box-sizing: border-box; /*serve per includere padding e border nella larghezza totale e uniforma select e input*/
  border: none;
  border-color: white;
  background-color: white;
  border-radius: 5px;
}

.standard {
    max-width: 250px;
}

.data {
    max-width: 120px;
}

.small {
    max-width: 50px;
}
/*SPECIFICHE PER LE INPUT DELLA SEZIONE IMMOBILE*/
.standardImmobile {
    width: 250px;
}
.smallImmobile{
    width:50px;
}

/*NASCONDE LE SEZIONI IMPOSTATE*/
#delegato,
.sezioneNascostaMinorenni,
.gruppoDatiNascosto {
    display: none;
}


/*SPECIFICHE PER LA SEZIONE COMANDI E COMANDI STESSI*/

.comandi {
    display: flex;
    justify-content: flex-end;
   /* gap: 10px;*/
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

/*IMPOSTAZIONI PER RIDUZIONE SCHERMO (SMARTPHONE)*/

@media (max-width: 550px) {

    .fieldsetStandard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 0 2rem;
        width: 95%;
        
    }

    .fieldsetDatiImmobile{
    display:flex; /*flex serve perchè il contenut è su una riga sola (alrimenti si poteva usare inline-flex)*/
    flex-wrap:wrap;
    flex-direction:column; /*imposta tutto in colonna quando lo schermo è piccolo*/
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    gap: 0 4rem; /*rem è il font della radice, si usa al posto di px perchè è piu adattivo*/
    height: auto;
    width: 95%;
}

input, select {
  box-sizing: border-box; /*serve per includere padding e border nella larghezza totale e uniforma select e input*/
  border: none;
  border-color: white;
  background-color: white;
}

}

